.produce h1 {
  font-size: 30px;
}
.proper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}
.object {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.ten {
  display: flex;
  flex-direction: row;
}
.tin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.easy {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: blue;
  padding: 50px;
  margin: 60px;
  text-align: center;
}
.easy h1 {
  font-size: 40px;
}
. easy p {
  font-size: 25px;
}
.tin h1 {
  font-size: 43px;
}
.tin p {
  font-size: 19px;
}
.tin h2 {
  font-size: 30px;
}
.topic h1 {
  font-size: 38px;
  text-align: center;
  text-decoration: blueviolet;
}
.topic p {
  font-size: 20px;
  text-align: center;
}
.many h1 {
  text-align: center;
  font-size: 50px;
}
.many p {
  text-align: center;
  font-size: 26px;
}
.buy h2 {
  font-size: 43px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.buy p {
  font-size: 29px;
}
.happy h1 {
  font-size: 52px;
}
.happy h2 {
  font-size: 39px;
  text-align: center;
}
.happy p {
  text-align: center;
  font-size: 28px;
}
.happy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 20px;
  border: 15px;
}
